<!-- <div class="user-rides" >
  <h1><b>My Rides</b></h1>

  <div class="trip-card" *ngIf="trip" >
    <div class="trip-info">
      <h2>15th August, 2024 </h2>
      <h3 style="margin-left: 200px;">12:00-16:00</h3>
      <h3 style="margin-left: 280px;">
        <img src="assets/trip-car.png" [align]="'left'" height="50px" width="50px">
        &nbsp;&nbsp; MUMBAI &nbsp;&nbsp; <img src="assets/arrow.png" height="30px" width="30px"> &nbsp;&nbsp; PUNE
      </h3>
    </div>
  </div>

  <div>
    <h1></h1>
    <p>Oops! Seems like you haven't booked any rides yet.</p>
  </div>

</div> -->


<div class="user-rides">
  <h1><b>My Rides</b></h1>
  <app-loading *ngIf="isLoading"></app-loading>
  <div class="trip-card" *ngFor="let trip of userRides" >
    <div class="trip-info" *ngIf="trip" >
      <h2>{{ trip.rideDate }}</h2>
      <h3 style="margin-left: 200px;">{{ trip.carName }}</h3>
      <h3 style="margin-left: 280px;">
        <img src="assets/trip-car.png" [align]="'left'" height="50px" width="50px">
        &nbsp;&nbsp; {{trip.rideSource}} &nbsp;&nbsp; <img src="assets/arrow.png" height="30px" width="30px"> &nbsp;&nbsp; {{trip.rideDestination}}
      </h3>
      <button (click)="onDeleteRide(trip.rideId)">Cancel</button>
    </div>

    <div *ngIf="!userRides">
      <h1>No Rides Found</h1>
      <p>Oops! Seems like you haven't booked any rides yet.</p>
    </div>


  </div>
</div>

