
<!-- <div class="user-rides"  > 
    <h1><b>My Rides</b></h1>
  
    <div  class="trip-card">
      <div class="trip-info">
        <h2>15th August, 2024 </h2>
        <h3 style="margin-left: 200px;">12:00-16:00</h3>
        <h3  style="margin-left: 280px;">
          <img src="assets/trip-car.png" [align]="'left'" height="50px" width="50px">
          &nbsp;&nbsp; MUMBAI &nbsp;&nbsp; <img src="assets/arrow.png" height="30px" width="30px"> &nbsp;&nbsp; PUNE
        </h3> -->


        <div>
          <h1></h1>
          <p>Oops! Seems like you haven't booked any rides yet.</p>
      </div>