.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fdfdfd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #6d2e57;
    font-family: 'Arial', sans-serif;
    margin-bottom: 20px;
    border-bottom: 2px solid #6d2e57;
    padding-bottom: 10px;
}

.history-details {
    margin-top: 20px;
}

.trip-record {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.trip-record p {
    font-family: 'Arial', sans-serif;
    color: #555;
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.trip-record p:last-child {
    border-bottom: none;
}

.trip-record p strong {
    color: #6d2e57;
    font-weight: bold;
}

.trip-record:nth-child(odd) {
    background-color: #f9f9f9;
}

.trip-record:nth-child(even) {
    background-color: #fff;
}
