.container {
  width: 80%;
  margin: 20px auto;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 20px;
  border-radius: 8px;
  color: #333;
}

h2 {
  color: #6d2e57;
  text-align: center;
}

.history-details {
  border-top: 2px solid #6d2e57;
  padding-top: 20px;
}

.trip-record {
  background-color: #f9f9f9;
  border-left: 4px solid #6d2e57;
  padding: 10px;
  margin-bottom: 10px;
}

.trip-record p {
  font-size: 16px;
  color: #555;
  margin: 5px 0;
}

.trip-record p strong {
  color: #6d2e57;
}

.ng-template p {
  text-align: center;
  color: #6d2e57;
}
