<div class="login-container">
  <div class="login-left">
    <img src="assets/car_high.jpg" alt=""/>
    <!--<div class="login-banner">
    </div>-->
    <h2>Turn your rides into trips.</h2>
    <p>Start for free and start your journey</p>
  </div>

  <div class="login-right">

<!--    <script src="https://accounts.google.com/gsi/client" async></script>-->
   <ng-container [ngSwitch]="uiState" >

      <!-- <app-forget-password @fadeSlideInOut></app-forget-password> -->
      <div *ngSwitchCase="UIState.Login">
        <form @fadeSlideInOut  [formGroup]="loginForm">
          <h2 class="divider">Login to your Account</h2>
          <!--<p>See what's going on with your business</p>-->
<!--          <button class="google-login" (click)="loginWithGoogle()">-->
<!--            <img ngSrc="assets/google_png.png" width="512" height="512"-->
<!--                 style="width: 25px; height: 25px; vertical-align: middle; margin-right: 8px; margin-bottom: 4px" alt="">-->
<!--            Continue with Google-->

<!--          </button>-->
          <asl-google-signin-button type='standard' size='large' text="signin_with" theme="outline" logo_alignment ="center" style="display: flex; align-items: center; justify-content: center" (click)="loginWithGoogle()">
          </asl-google-signin-button>
          <div class="divider">or</div>

          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" formControlName="email" placeholder="xyz@gamil.com" />

          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="********" formControlName="password" />
          </div>
          <div class="remember-forgot">
            <label style="visibility: hidden"><input type="checkbox"/> Remember me</label>
            <a (click)="toggleMode(UIState.ForgetPassword)" href="javascript:void(0);">Forgot Password?</a>
          </div>
          <button type="submit" (click)="onSubmit()"   class="login-btn">Login</button>
          <p>Not Registered Yet? <a id="sign-up-button" style="cursor: pointer;" (click)="toggleMode(UIState.Signup)">Create an account</a></p>
        </form>
      </div>
      <div *ngSwitchCase="UIState.Signup">
         <app-sign-up @fadeSlideInOut></app-sign-up>
      </div>
      <div *ngSwitchCase="UIState.ChangePassword">
        <app-change-password @fadeSlideInOut></app-change-password>
      </div>
      <div *ngSwitchCase="UIState.ForgetPassword">
        <app-forget-password @fadeSlideInOut></app-forget-password>
      </div>

    </ng-container>
    <app-loading *ngIf="isLoading"></app-loading>
  </div>
</div>
