<div class="change-password-form">
    <h2>Change Password</h2>
    <p>Please enter your new password below.</p>
    <form [formGroup]="changePasswordForm" >  
      <div class="input-group">
        <label for="new-password">New Password</label>
        <input type="password" id="new-password"  name="newPassword" placeholder="Enter new password" formControlName="newPassword"  />
      </div>
      <div class="input-group">
        <label for="confirm-password">Re-enter Password</label>
        <input type="password" id="confirm-password"  name="confirmPassword" placeholder="Re-enter new password" formControlName="confirmPassword"  />
      </div>
      <button type="submit" class="login-btn" (click) = "onSubmit()">Change Password</button>
    </form>
  </div>