<div class="change-password-form">
  <h2>{{ 'CHANGE_PASSWORD' | translate }}</h2>
  <p>{{ 'ENTER_NEW_PASSWORD' | translate }}</p>
  <form [formGroup]="changePasswordForm">
    <div class="input-group">
      <label for="new-password">{{ 'NEW_PASSWORD' | translate }}</label>
      <input type="password" id="new-password" name="newPassword" placeholder="{{ 'ENTER_NEW_PASSWORD_PLACEHOLDER' | translate }}" formControlName="newPassword" />
    </div>
    <div class="input-group">
      <label for="confirm-password">{{ 'REENTER_PASSWORD' | translate }}</label>
      <input type="password" id="confirm-password" name="confirmPassword" placeholder="{{ 'REENTER_PASSWORD_PLACEHOLDER' | translate }}" formControlName="confirmPassword" />
    </div>
    <button type="submit" class="login-btn" (click)="onSubmit()">{{ 'CHANGE_PASSWORD_BUTTON' | translate }}</button>
  </form>
</div>
<app-loading *ngIf="isLoading"></app-loading>
