<div class="container">
    <h2>Billing Record</h2>
  <app-loading *ngIf="isLoading"></app-loading>
    <div class="billing-details">
      <p><strong>Name:</strong> {{ billingData.name || 'N/A' }}</p>
      <p><strong>Fare:</strong> {{ billingData.fare || 'N/A' }}</p>
      <p><strong>Total Charges:</strong> {{ billingData.totalCharges || 'N/A' }}</p>
      <p><strong>Number of Passengers:</strong> {{ billingData.numberOfPassengers || 'N/A' }}</p>
      <p><strong>Start Destination:</strong> {{ billingData.startDestination || 'N/A' }}</p>
      <p><strong>End Destination:</strong> {{ billingData.endDestination || 'N/A' }}</p>
      <p><strong>Car Model:</strong> {{ billingData.carModel || 'N/A' }}</p>
      <p><strong>Car Number:</strong> {{ billingData.carNumber || 'N/A' }}</p>
    </div>

    <div class="payment-button-container">
        <button class="button-pay-now" (click) = "Book()">Pay Now & Book</button>
      </div>

  </div>
