<div class="container">
  <h2>{{ 'BILLING_RECORD_TITLE' | translate }}</h2>
  <app-loading *ngIf="isLoading"></app-loading>

  <div class="billing-details">
    <p><strong>{{ 'NAME_LABEL' | translate }}</strong> {{ billingData.name || 'N/A' }}</p>
    <p><strong>{{ 'FARE_LABEL' | translate }}</strong> {{ billingData.fare || 'N/A' }}</p>
    <p><strong>{{ 'TOTAL_CHARGES_LABEL' | translate }}</strong> {{ billingData.totalCharges || 'N/A' }}</p>
    <p><strong>{{ 'NUMBER_OF_PASSENGERS_LABEL' | translate }}</strong> {{ billingData.numberOfPassengers || 'N/A' }}</p>
    <p><strong>{{ 'START_DESTINATION_LABEL' | translate }}</strong> {{ billingData.startDestination || 'N/A' }}</p>
    <p><strong>{{ 'END_DESTINATION_LABEL' | translate }}</strong> {{ billingData.endDestination || 'N/A' }}</p>
    <p><strong>{{ 'CAR_MODEL_LABEL' | translate }}</strong> {{ billingData.carModel || 'N/A' }}</p>
    <p><strong>{{ 'CAR_NUMBER_LABEL' | translate }}</strong> {{ billingData.carNumber || 'N/A' }}</p>
  </div>

  <div class="payment-button-container">
    <button class="button-pay-now" (click)="Book()">{{ 'PAY_NOW_BUTTON' | translate }}</button>
  </div>
</div>
