.verification-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.verification-container h2 {
  margin-bottom: 20px;
  color: #6d2e57;
  font-size: 28px;
}

.verification-container p {
  margin-bottom: 30px;
  color: #999;
}

.otp-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  text-align: center;
  border-radius: 4px;
  transition: border-color 0.2s, box-shadow 0.2s; /* Smooth transitions for interaction */
}


.otp-input {
  width: 45px; /* Adjust to ensure equal spacing */
  height: 55px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #ccc; /* Thicker border for better visibility */
  border-radius: 4px;
  margin: 0 5px;
  transition: border-color 0.2s, box-shadow 0.2s; /* Smooth transitions for interaction */
}

.otp-input:focus {
  border-color: #6d2e57;
  box-shadow: 0 0 5px rgba(109, 46, 87, 0.5); /* Soft glow for focus */
  outline: none;
}

.verify-btn {
  width: 100%;
  padding: 15px;
  background-color: #6d2e57;
  color: #ffffff;
  font-size: 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.verify-btn:hover {
  background-color: #8a2b5e;
}

.verification-container p a {
  color: #6d2e57;
  text-decoration: none;
}

.verification-container p a:hover {
  text-decoration: underline;
}
