<div class="verification-container">
  <h2>{{ 'VERIFY_ACCOUNT' | translate }}</h2>
  <p>{{ 'ENTER_VERIFICATION_CODE' | translate }}</p>

  <form (ngSubmit)="onSubmit()">
    <ngx-otp-input
      [options]="otpOptions"
      class="otp-inputs"
      (otpChange)="onOtpChange($event)"
    ></ngx-otp-input>
    <button type="submit" class="verify-btn">{{ 'VERIFY_BUTTON' | translate }}</button>
  </form>
  <br>
  <p>{{ 'DID_NOT_RECEIVE_CODE' | translate }} <a href="javascript:void(0);" (click)="resendCode()">{{ 'RESEND_CODE' | translate }}</a></p>
</div>
<app-loading *ngIf="isLoading"></app-loading>
