<form class="signup-form" [formGroup]="signup">
  <h2>Create an Account</h2>
  <p>Join us to start your journey</p>
  <button class="google-login">
    <img src="assets/google_png.png"
         style="width: 25px; height: 25px; vertical-align: middle; margin-right: 8px; margin-bottom: 4px" alt="">
    Continue with Google</button>
  <div class="divider">or</div>
  <div class="input-group">
    <input type="text" id="first-name" placeholder="First Name" formControlName="firstName" name="firstName" />
  </div>
  <div class="input-group">

    <input type="text" id="last-name" placeholder="Last Name" formControlName="lastName" name="lastName" />
  </div>
  <div class="input-group">

    <input type="email" id="email" placeholder="xyz@gmail.com" formControlName="email" name="email" />
  </div>
  <div class="input-group">

    <input type="password" id="password" placeholder="********" formControlName="password" name="password" />
  </div>
  <div class="input-group">

    <input type="number"  id="phone-number" placeholder="Phone Number" formControlName="phoneNumber" name="phoneNumber" />
  </div>
  <button type="submit" (click)="onSubmit()" class="login-btn">Sign Up</button>
  <p>Already have an account? <a (click)="toggleToLogin(UIState.Login)" style="cursor: pointer;" href="javascript:void(0);" >Login here</a></p>

</form>
<app-loading *ngIf="isLoading"></app-loading>
