<!-- ============================================ -->
<!--                 Publish Ride                -->
<!-- ============================================ -->

<!--
<section id="publish-ride">
  <app-loading *ngIf="isLoading"></app-loading>

  <div class="cs-container">
    <div class="cs-form-group">
      <div class="cs-content">
        <span class="cs-topper">Plan Your Journey</span>
        <h2 class="cs-title">Publish a Ride</h2>
      </div>
      <form class="cs-form" id="cs-form-ride" name="Publish Ride Form" (ngSubmit)="addRide()" [formGroup]="rideForm">
        <label class="cs-label">
          Ride Start *
          <input class="cs-input" required type="text" id="ride-start" formControlName="rideSource" placeholder="Enter starting location">
        </label>
        <label class="cs-label">
          Ride Destination *
          <input class="cs-input" required type="text" id="ride-destination" formControlName="rideDestination" placeholder="Enter destination">
        </label>
        <label class="cs-label">
          Date *
          <input class="cs-input" required type="date" id="ride-date" formControlName="rideDate">
        </label>
        <label class="cs-label">
          Time *
          <input class="cs-input" required type="time" id="ride-time" formControlName="rideTime">
        </label>
        <label class="cs-label">
          Car Name *
          <input class="cs-input" required type="text" id="car-name" formControlName="carName" placeholder="Enter car name">
        </label>
        <label class="cs-label">
          Car Number *
          <input class="cs-input" required type="text" id="car-number" formControlName="carNum" placeholder="Enter car number">
        </label>
        <label class="cs-label">
          Available Seats *
          <input class="cs-input" required type="number" id="available-seats" formControlName="availableSeats" placeholder="Enter number of available seats">
        </label>
        <button class="cs-button-solid cs-submit" type="submit">Publish Ride</button>
      </form>

    </div>
    <div class="cs-info-group" >
      <div class="cs-info" >
        <span class="cs-topper">Plan</span>
        <span class="cs-detail">Publish your ride details for others to join</span>
      </div>
      <div class="cs-info">
        <span class="cs-topper">Manage</span>
        <span class="cs-detail">Update or cancel your published rides easily</span>
      </div>
      <div class="cs-info">
        <span class="cs-topper">Contact</span>
        <span class="cs-detail">Get in touch with your co-passengers</span>
      </div>
    </div>
  </div>

</section>


-->
<div style="background-color: aliceblue; width: 100%; height: 100%; display: flex; align-items: center">
  <img src="../../assets/pool_logo.png" style="width: 0.1px; height: 0.5px; margin-top: 45px; margin-left: 160px;">
  <div class="offer-section">
    <app-loading *ngIf="isLoading"></app-loading>
    <h2>
      <img src="../../assets/pool_logo.png" style="width: 75px; height: 75px;">
      {{ 'BECOME_DRIVER' | translate }}
    </h2>
    <div class="offer-content">
      <div class="offer-details">
        <form class="ride-form" (ngSubmit)="addRide()" [formGroup]="rideForm">
          <div class="form-group">
            <label for="ride-source">{{ 'RIDE_SOURCE_LABEL' | translate }}</label>
            <input type="text" id="ride-source" name="rideSource" placeholder="{{ 'RIDE_SOURCE_PLACEHOLDER' | translate }}" [(ngModel)]="ride.rideSource" formControlName="rideSource" [matAutocomplete]="auto1" matInput>
            <mat-autocomplete #auto1="matAutocomplete">
              <mat-option *ngFor="let city of filteredSourceCities | async" [value]="city">
                {{ city }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="form-group">
            <label for="ride-destination">{{ 'RIDE_DESTINATION_LABEL' | translate }}</label>
            <input type="text" id="ride-destination" name="rideDestination" placeholder="{{ 'RIDE_DESTINATION_PLACEHOLDER' | translate }}" [(ngModel)]="ride.rideDestination" formControlName="rideDestination" [matAutocomplete]="auto2" matInput>
            <mat-autocomplete #auto2="matAutocomplete">
              <mat-option *ngFor="let city of filteredDestinationCities | async" [value]="city">
                {{ city }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="form-group">
            <label for="ride-date">{{ 'DATE_LABEL' | translate }}</label>
            <input type="date" id="ride-date" name="rideDate" [(ngModel)]="ride.rideDate" formControlName="rideDate">
          </div>
          <div class="form-group">
            <label for="ride-time">{{ 'TIME_LABEL' | translate }}</label>
            <input type="time" id="ride-time" name="rideTime" [(ngModel)]="ride.rideTime" formControlName="rideTime">
          </div>
          <div class="form-group">
            <label for="car-model">{{ 'CAR_MODEL_LABEL' | translate }}</label>
            <input type="text" id="car-model" name="carName" placeholder="{{ 'CAR_MODEL_PLACEHOLDER' | translate }}"  formControlName="carName" [matAutocomplete]="auto3" matInput>
            <mat-autocomplete #auto3="matAutocomplete">
              <mat-option *ngFor="let city of filteredCarModels | async" [value]="city.carModel">
                {{ city.carModel }}
              </mat-option>
            </mat-autocomplete>
          </div>
          <div class="form-group">
            <label for="car-number">{{ 'CAR_NUMBER_LABEL' | translate }}</label>
            <input type="text" id="car-number" name="carNum" placeholder="{{ 'CAR_NUMBER_PLACEHOLDER' | translate }}" [(ngModel)]="ride.carNum" formControlName="carNum">
          </div>
          <div class="form-group">
            <label for="no-of-passengers">{{ 'NUMBER_OF_PASSENGERS_LABEL' | translate }}</label>
            <input type="number" id="no-of-passengers" name="availableSeats" placeholder="{{ 'NUMBER_OF_PASSENGERS_PLACEHOLDER' | translate }}" [(ngModel)]="ride.availableSeats" min="1" max="8" formControlName="availableSeats">
          </div>
          <button type="submit" class="publish-btn" style="background-color: #6d2e57;">{{ 'PUBLISH_BUTTON' | translate }}</button>
        </form>
      </div>
      <div class="offer-image">
        <div class="cs-info-group">
          <div class="cs-info">
            <span class="cs-topper">{{ 'PLAN_TITLE' | translate }}</span>
            <span class="cs-detail">{{ 'PLAN_DETAIL' | translate }}</span>
          </div>
          <div class="cs-info">
            <span class="cs-topper">{{ 'EASY_CANCELLATION_TITLE' | translate }}</span>
            <span class="cs-detail">{{ 'EASY_CANCELLATION_DETAIL' | translate }}</span>
          </div>
          <div class="cs-info">
            <span class="cs-topper">{{ 'SAVE_MONEY_TITLE' | translate }}</span>
            <span class="cs-detail">{{ 'SAVE_MONEY_DETAIL' | translate }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

