<div class="header">
    <div class="header-content">
      <div class="logo">
        <img src="assets/pool_logo.png">
        <span>RideTribe</span>
      </div>

      <div class="user-actions">

        <a href="#" style="padding-right: 25px;">Publish a ride</a>
        <div class="user-icon">
            <img src="https://xsgames.co/randomusers/avatar.php?g=male">
        </div>

      </div>
    </div>
  </div>
  <div class="main-banner">
    <div class="banner-content">
      <h1>Choose Your Ride</h1>
      <div class="search-bar">
        <input type="text" placeholder="Leaving from">
        <input type="text" placeholder="Going to">
        <input matInput  [matDatepicker]="picker" readonly   [min]="minDate" class="custom-filed" placeholder="Choose a date">
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <input type="text" placeholder="1 passenger" [(ngModel)]="passengerCount"  >
        <button>Search</button>
      </div>
    </div>
  </div>
  <div class="info-section">
    <div class="info-item">
      <img src="assets/save_money.png" alt="Icon 1"> <!-- Replace with your actual icon -->
      <h3>Your pick of rides at low prices</h3>
      <p>No matter where you're going, by bus or carpool, find the perfect ride from our wide range of destinations and routes at low prices.</p>
    </div>
    <div class="info-item">
      <img src="assets/id_card.png" alt="Icon 2"> <!-- Replace with your actual icon -->
      <h3>Trust who you travel with</h3>
      <p>We take the time to get to know each of our members and bus partners. We check reviews, profiles, and IDs, so you know who you're traveling with and can book your ride at ease on our secure platform.</p>
    </div>
    <div class="info-item">
      <img src="assets/thunder.png" alt="Icon 3"> <!-- Replace with your actual icon -->
      <h3>Scroll, click, tap and go!</h3>
      <p>Booking a ride has never been easier! Thanks to our simple app powered by great technology, you can book a ride close to you in just minutes.</p>
    </div>
  </div>
