<div class="forgot-password-form">
  <h2>Forgot Password</h2>
  <p>Please enter your email to receive a verification code.</p>
  <form [formGroup]="forgotPasswordForm">
    <div class="input-group" [class.error]="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="Enter your email" formControlName="email"  [class.error]="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched"/>
    </div>
    <button type="submit" class="login-btn" (click)="onSubmit()" >Send Verification Code</button>
  </form>
  <br>

  <p><a (click)="toggleMode(UIState.Login) ">Cancel</a></p>


</div>
<app-loading *ngIf="isLoading"></app-loading>
