<div class="forgot-password-form">
  <h2>{{ 'FORGOT_PASSWORD' | translate }}</h2>
  <p>{{ 'ENTER_EMAIL' | translate }}</p>
  <form [formGroup]="forgotPasswordForm">
    <div class="input-group" [class.error]="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched">
      <label for="email">{{ 'Email' | translate }}</label>
      <input type="email" id="email" name="email" placeholder="{{ 'ENTER_YOUR_EMAIL' | translate }}" formControlName="email" [class.error]="forgotPasswordForm.get('email').invalid && forgotPasswordForm.get('email').touched"/>
    </div>
    <button type="submit" class="login-btn" (click)="onSubmit()">{{ 'SEND_VERIFICATION_CODE' | translate }}</button>
  </form>
  <br>

  <p><a (click)="toggleMode(UIState.Login)">{{ 'CANCEL' | translate }}</a></p>
</div>
<app-loading *ngIf="isLoading"></app-loading>
